[submodule "monadlib"]
	path = monadlib
	url = https://bitbucket.org/Wushushu/monadlib
[submodule "sets"]
	path = sets
	url = https://bitbucket.org/qinxiang-SJTU/sets
	branch = sets-8.15
[submodule "fixedpoints"]
	path = fixedpoints
	url = https://bitbucket.org/qinxiang-SJTU/fixedpoints
